<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="ApiHost" value="https://YOUR-API-APPSERVICE.azurewebsites.net"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ApiRoot" value="https://YOUR-API-APPSERVICE.azurewebsites.net/api/"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ida:RedirectUri" value="https://YOUR-WEB-APPSERVICE.azurewebsites.net"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  
  <system.web>
  </system.web>
  
</configuration>