
<script type="text/javascript">

    $(document).ready(function () {
        $('#loginname').focus();
    });

</script>


<md-dialog aria-label="Login" style="min-width:450px;min-height:100px;">
    <form name="loginform" ng-submit="ctrl.dologin(loginform.$valid)" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Login</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                    <md-icon aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-content>
            <md-input-container md-no-float class="md-block" style="padding:15px">
                <label>Name</label>
                <input ng-model="ctrl.User.Name" type="text" ng-required="true" name="loginname" id="loginname">
            </md-input-container>
        </md-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised" ng-click="ctrl.cancel()">
                Cancel
            </md-button>
            <md-button class="md-raised md-primary" ng-click="ctrl.dologin(loginform.$valid)" ng-disabled="!loginform.$valid" style="margin-right:20px;">
                Login
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>