


<md-content class="md-padding" layout="row" layout-align="center center">
    <div flex-gt-xs="40">
        <md-card class="md-whiteframe-4dp">
            <img ng-src="/Content/tri_logo.jpg" class="md-card-image" alt="Washed Out" style="padding:10px">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Azure Bootcamp</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>
                    Trivadis is a market leader in Germany, Switzerland, Austria and Denmark in the fields of IT consulting, system integration and solution engineering, and for IT services focusing on Oracle and Microsoft technologies.
                </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="shell.displayLogin($event)">Login</md-button>
                <md-button href="/Home/LoginAzureB2C">Login Azure B2C</md-button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>