<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
	<add name="Azure Storage Account Demo Primary" connectionString="DefaultEndpointsProtocol=https;AccountName=[name];AccountKey=[key];BlobEndpoint=https://tvddemo.blob.core.windows.net/;TableEndpoint=https://tvddemo.table.core.windows.net/;QueueEndpoint=https://tvddemo.queue.core.windows.net/;FileEndpoint=https://tvddemo.file.core.windows.net/" />
  <add name="Azure SQL Database Demo" connectionString="metadata=res://*/SqlDatabase.ProductsModel.csdl|res://*/SqlDatabase.ProductsModel.ssdl|res://*/SqlDatabase.ProductsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source={yourdatabase}.database.windows.net;initial catalog=AdventureWorksProducts;persist security info=True;user id={yourusername};password={yourpassword};MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	<add name="Azure DocumentDB Demo" connectionString="endpoint|{yourendpoint};authkey|{yourdoauthkey}"/>
</connectionStrings>
